@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: "宋体"; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.wrap {
  width: 1200px;
  margin: 0 auto; }

.head {
  height: 24px;
  background: linear-gradient(0deg, #f1f1f1, #fff); }
  .head nav {
    float: right;
    margin-right: 10px; }
    .head nav li {
      float: left; }
      .head nav li:nth-of-type(2) {
        margin: 0 10px; }
        .head nav li:nth-of-type(2) a {
          border-left: 1px solid #666;
          border-right: 1px solid #666;
          padding: 0 10px; }
      .head nav li a {
        color: #666;
        font-size: 12px; }

.logo {
  padding: 15px 11px;
  overflow: hidden; }

.logo-left, .logo-mid, .logo-right {
  float: left; }

.logo-mid {
  width: 255px;
  margin-left: 40px;
  font-weight: bold; }

.logo-right {
  float: right;
  height: 36px;
  background: linear-gradient(0deg, #0760be, #2b8ef6);
  margin-top: 5px; }
  .logo-right input {
    height: 28px;
    width: 315px;
    margin-left: 3px;
    padding-left: 33px;
    box-sizing: border-box;
    background: url("../img/search.png") no-repeat 4px 5px #fff;
    outline: none;
    border: none;
    margin-top: 4px; }
  .logo-right label a {
    color: #fff;
    display: inline-block;
    padding: 0 23px;
    font-weight: bold; }

.content-left {
  float: left;
  margin-top: 40px; }
  .content-left form label {
    font-size: 12px; }
  .content-left form ul li:nth-child(1) button {
    background: linear-gradient(0deg, #dfdfdf, #f8f5f5);
    border: 1px solid #bdbdbd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 13px 20px;
    font-size: 14px;
    font-weight: bold;
    outline: none; }
  .content-left form ul li:nth-child(2), .content-left form ul li:nth-child(3) {
    margin-top: 20px; }
    .content-left form ul li:nth-child(2) label, .content-left form ul li:nth-child(3) label {
      width: 50px;
      display: inline-block;
      text-align: right; }
    .content-left form ul li:nth-child(2) input, .content-left form ul li:nth-child(3) input {
      height: 28px;
      padding-left: 5px; }
  .content-left form ul li:nth-child(4) {
    padding-left: 50px;
    margin-top: 10px; }
    .content-left form ul li:nth-child(4) input {
      vertical-align: middle; }
  .content-left form ul li:last-child button {
    width: 105px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(0deg, #065fbd, #2b8ef6);
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-left: 50px;
    margin-top: 30px;
    outline: none; }
  .content-left form ul li span {
    font-size: 12px; }

.content {
  overflow: hidden;
  min-height: 500px;
  width: 660px;
  margin: 90px auto; }

.content-right {
  float: left;
  background: url("../img/border-img.png") no-repeat;
  height: 317px;
  padding-top: 125px;
  margin-left: 125px;
  padding-left: 125px; }
  .content-right h2 {
    font-size: 14px; }
  .content-right a {
    display: inline-block;
    width: 105px;
    height: 30px;
    line-height: 30px;
    background: linear-gradient(0deg, #065fbd, #2b8ef6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-left: 25px; }

.play {
  color: #fff;
  background: linear-gradient(0deg, #065fbd, #2b8ef6) !important; }

footer {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #d9d9d9;
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 1200px; }
  footer ul {
    overflow: hidden;
    width: 950px;
    margin: 0 auto; }
    footer ul li {
      float: left; }
      footer ul li a {
        color: #666; }
      footer ul li:nth-child(2) a {
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        padding: 0 7px;
        margin: 0 7px; }
      footer ul li:nth-child(4) a {
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        padding: 0 7px;
        margin: 0 7px; }
      footer ul li:nth-child(6) a {
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        padding: 0 7px;
        margin: 0 7px; }
      footer ul li:nth-child(8) a {
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        padding: 0 7px;
        margin: 0 7px; }
      footer ul li:nth-child(10) a {
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        padding: 0 7px;
        margin: 0 7px; }

/*# sourceMappingURL=login.css.map */
