@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: "宋体";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.head {
  height: 24px;
  background: linear-gradient(0deg,#f1f1f1,#fff);

  nav {
    float: right;
    margin-right: 10px;
    li {
      float: left;
      &:nth-of-type(2) {
        margin: 0 10px;
        a {
          border-left: 1px solid #666;
          border-right: 1px solid #666;
          padding: 0 10px;
        }
      }
      a {
        color: #666;
        font-size: 12px;
      }
    }
  }
}
.logo {
  padding: 15px 11px;
  overflow: hidden;
}
.logo-left,.logo-mid,.logo-right {
  float: left;
}
.logo-mid {
  width: 255px;
  margin-left: 40px;
  font-weight: bold;
}
.logo-right {
  float: right;
  height: 36px;
  background: linear-gradient(0deg,#0760be,#2b8ef6);
  margin-top: 5px;
  input {
    height: 28px;
    width: 315px;
    margin-left: 3px;
    padding-left: 33px;
    box-sizing: border-box;
    background: url("../img/search.png") no-repeat 4px 5px #fff;
    outline: none;
    border: none;
    margin-top: 4px;
  }
  label {
    a {
      color: #fff;
      display: inline-block;
      padding: 0 23px;
      font-weight: bold;
    }
  }
}
.navBar {
  box-sizing: border-box;
  nav {
    box-sizing: border-box;
    ul {
      overflow: hidden;
      background: linear-gradient(0deg,#065fbd,#2b8ef6);
      border-radius: 4px;
      box-sizing: border-box;
      width: 1196px;
      margin: 0 auto;
      li {
        &:hover {
          background: #0760be;
        }
        float: left;
        box-sizing: border-box;
        &:first-child {
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(2){
          border-left: 1px solid #459df9;
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(3){
          border-left: 1px solid #459df9;
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(4){
          border-left: 1px solid #459df9;
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(5){
          border-left: 1px solid #459df9;
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(6){
          border-left: 1px solid #459df9;
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(7){
          border-left: 1px solid #459df9;
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(8){
          border-left: 1px solid #459df9;
          border-right: 1px solid #085ab1;
          box-sizing: border-box;
        }
        &:nth-of-type(9){
          border-left: 1px solid #459df9;
          box-sizing: border-box;
        }
      }
      a {
        display: inline-block;
        width: 131px;
        color: #fff;
        text-align: center;
        height: 36px;
        line-height: 36px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
.titleBar {
  height: 26px;
  border: 1px solid #d9d9d9;
  margin-top: 1px;
  border-radius: 4px;
  ul {
    overflow: hidden;
    padding: 0 15px;
    li {
      line-height: 26px;
      float: left;
      font-size: 12px;
      margin-right: 20px;
      a {
        color: #666;
      }
      &:nth-child(5) {
        p {
          width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #ff0000;
        }
      }
      &:nth-child(6){
        float: right;
        a {
          text-decoration: underline;
        }
      }
      h2 {
        font-size: 12px;
        background: url("../img/lb.png") no-repeat left center;
        padding-left: 19px;
      }
      p {
        background: url("../img/li-icon.png") no-repeat left center;
        padding-left: 13px;
        &:hover {
          a {
            text-decoration: underline;
          }
        }
        a {
          color: #ff0000;
        }
      }
    }
  }
}
.position {
  font-size: 12px;
  margin-left: 15px;
  height: 32px;
  line-height: 32px;
  span {
    margin-left: 10px;
  }
}
.content-left {
  float: left;
  ul {
    border: 1px solid #cce5ff;
    width: 221px;
    box-sizing: border-box;
    padding-bottom: 10px;
    li {
      height: 28px;
      line-height: 28px;
      h3 {
        background: linear-gradient(0deg,#065fbd,#2b8ef6);
        color: #fff;
        padding-left: 18px;
      }
      a {
        background: linear-gradient(0deg,#9acbff,#dbedff);
        display: block;
        box-sizing: border-box;
        border-left:4px solid #0760be ;
        color: #0760be;
        margin-top: 10px;
        padding-left: 14px;
        font-size: 12px;
      }
    }
  }
}
.content {
  overflow: hidden;
  min-height: 500px;
}

.content-right {
  width: 960px;
  float: right;
  overflow: hidden;
  h3 {
    background: linear-gradient(0deg,#9acbff,#dbedff);
    box-sizing: border-box;
    border-left:4px solid #0760be ;
    color: #0760be;
    height: 28px;
    line-height: 28px;
    padding-left: 14px;
    font-size: 12px;
  }
  form {
    margin-top: 30px;
    overflow: hidden;
  }
  .form-left {
    float: left;
    font-size: 12px;
    li {
      &:not(:nth-child(1)){
        margin-top: 20px;
      }
    }
    label {
      display: inline-block;
      width: 80px;
      text-align: right;
      letter-spacing: 1px;
      span {
        color: #f00;
        margin-right: 6px;
      }
    }
    input {
      width: 155px;
      height: 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      padding-left: 5px;
    }
  }
  .form-right {
    float: right;
    font-size: 12px;
    margin-right: 95px;
    label {
      span {
        color: #f00;
        margin-right: 6px;
      }
    }
    textarea {
      width: 375px;
      height: 180px;
      border: 1px solid #ccc;
      vertical-align:top;
      resize: none;
      padding-top: 5px;
    }
  }
  .btn {
    clear: left;
    text-align: center;
    padding-top: 30px;
    button {
      background: linear-gradient(0deg,#065fbd,#2b8ef6);
      padding: 7px 22px;
      border: none;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
@mixin border {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  padding: 0 7px;
  margin: 0 7px;
}
footer {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #d9d9d9;
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 1200px;
  ul {
    overflow: hidden;
    width: 950px;
    margin: 0 auto;
    li {
      float: left;
      a {
        color: #666;
      }
      &:nth-child(2) {
        a {
          @include border;
        }
      }
      &:nth-child(4) {
        a {
          @include border;
        }
      }
      &:nth-child(6) {
        a {
          @include border;
        }
      }
      &:nth-child(8) {
        a {
          @include border;
        }
      }
      &:nth-child(10) {
        a {
          @include border;
        }
      }
    }
  }
}